div {
    font-family: 'Catamaran', sans-serif;
}

.jumbotron {
  background-image: url('/assets/water-color.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 85%;
}


.jumbotron h1 {
  margin: 0px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 80px;  
}





