<div class="container-fluid">
  <div class="jumbotron">
    <h1 id="jumboText">Quotes</h1>
  </div>
  <div id="specialQuote">
    <h2>QUOTE OF THE DAY</h2>
    <h4 appHighlight>"{{highestVotedQuote.quote}}"</h4>
    <p appHighlight>- {{highestVotedQuote.author}}</p>
  </div>
  <div id="formDiv">
    <quote-form (quoteAdd)="addQuote($event)"></quote-form>
  </div>
  <div id="detailsDiv" >
    <div class="row">
      <div class="col-md-6" *ngFor='let quote of quotes; let i = index'>
        <div class="card">
          <h4 id="mainQuote" class="card-title">{{quote.quote}}</h4>
          <div class="card-body">
              <button class="btn btn-outline-primary" (click)="toggleDetails(i)">Details</button>
              <quote-details *ngIf='quote.showDetails' [quote]='quote' (upVote)='upvoteQuote(i)' (downVote)='downvoteQuote(i)'
        (quoteDel)='deleteQuote(i)'></quote-details>
          </div>
        </div>
      </div>
    </div>
</div>
